/*---------------------------------------------*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	background-color: #11161c;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input:focus {
	border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #999999;
}

input:-moz-placeholder {
	color: #999999;
}

input::-moz-placeholder {
	color: #999999;
}

input:-ms-input-placeholder {
	color: #999999;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/*---------------------------------------------*/

.container-main {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	/*background: #9053c7;
	  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	  background: linear-gradient(-135deg, #c850c0, #4158d0);*/
}

.wrap-main {
	width: 960px;
	background: #23272a;
	border-radius: 10px;
	overflow: hidden;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 177px 100px 177px 100px;
}

/*---------------------------------------------*/
.main-form {
	width: 100%;
}

.main-form-text {
	font-size: 24px;
	color: white;
	line-height: 1.2;
	text-align: center;
}

/*---------------------------------------------*/
.wrap-input {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
}

.input {
	font-size: 15px;
	line-height: 1.5;
	color: #666666;

	display: block;
	width: 100%;
	background: #e6e6e6;
	height: 50px;
	border-radius: 25px;
	padding: 0 30px 0 68px;
}

/*---------------------------------------------*/
.focus-input {
	display: block;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(87, 0, 247, 0.8);
}

.input:focus+.focus-input {
	-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
	animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 70px 25px;
		opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 70px 25px;
		opacity: 0;
	}
}

.symbol-input {
	font-size: 15px;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 35px;
	pointer-events: none;
	color: #666666;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.input:focus+.focus-input+.symbol-input {
	color: #5700f7;
	padding-left: 28px;
}

/*---------------------------------------------*/
.container-main-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}

.main-form-btn {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;

	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #5700f7;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.main-form-btn:hover {
	background: #4b0082;
}

/*---------------------------------------------*/
#player {
	display: none;
	height: 600px;
	width: 100%;
}

#download-btns {
	display: none;
	margin-top: 20px;
}

.download-btn:focus {
	outline: none;
	box-shadow: none;
}

/*---------------------------------------------*/
@media (max-width: 992px) {
	.wrap-main {
		padding: 130px 100px 130px 100px;
	}
}

@media (max-width: 768px) {
	.wrap-main {
		padding: 80px 15px 80px 15px;
	}
}

@media (max-width: 576px) {
	.wrap-main {
		padding: 80px 15px 80px 15px;
	}
}